.delete-quote-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.delete-quote-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
}

.delete-quote-h1  {
  text-align: center;
  margin-top: 0;
}

.delete-quote-label  {
  display: block;
  margin-bottom: 10px;
}

.delete-quote-input  {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.delete-quote-btn  {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  /* Change color to red for delete action */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.delete-quote-btn:hover {
  background-color: #3e8e41;
}

.delete-quote-btn:active {
  background-color: #2c6a2f;
}

p {
  text-align: center;
  margin-bottom: 20px;
}