#fillin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 300px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  input[type="submit"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  